@font-face {
  src: url(../assets/fonts/RobotoCondensed-Regular.ttf);
  font-family: rbt;
}

* {
  padding: 0;
  margin: 0;
  font-family: rbt;
}

#form-search {
  display: flex;
  background-color: #f9f9f9;
  background-color: #fff;
  border-bottom: 1px solid #eeeeee;
  padding: 5px;
  position: sticky;
  top: 0;
}

#header {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 30px;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
}

#title {
  font-size: 22px;
}

input {
  padding: 15px 12px;
  margin: auto 5;
  padding-left: 40px;
  border-radius: 5px;
  background: url(../assets/img/search.svg) no-repeat 10px center/20px;
  background-color: #eee;
  font-size: 16px;
  outline: none;
  border: none;
  font-size: 14px;
  flex: 1;
}

button {
  cursor: pointer;
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: indigo;
  color: #fff;
  display: block;
  width: calc(100% - 20px);
  margin: 10px auto;
  box-shadow: 0 0 2px 2px #fcfcfc;
}

#apps {
  padding: 0 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.app {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
}

.app .cover {
  border-radius: 5px;
  height: 100px;
  box-shadow: 0 0 1px 1px #f2f2f2;
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
}

.app .cover:active {
  box-shadow: none;
}

.app p {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
}

#btn-more {
  display: none;
}

#btn-more:active {
  opacity: 0.8;
}

@media screen and (min-width: 1024px) {
  body {
    width: 768px;
    margin: auto;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    min-height: 100vh;
  }
}
